* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 200vh;
  background-color: #e3f2fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  height: 100%;
  width: 20%;
  background-color: #1565c0;
  position: fixed;
  -webkit-box-shadow: 10px 0px 15px -10px rgba(0, 0, 0, 0.65);
          box-shadow: 10px 0px 15px -10px rgba(0, 0, 0, 0.65);
}

nav .nav-header {
  height: 8%;
  width: 100%;
  background-color: #2196f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-header p {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

nav .nav-list {
  height: 85%;
}

nav .nav-list-element {
  height: 6%;
  width: 100%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-list-element a {
  margin-left: 12%;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-list-element a i {
  margin-right: 5px;
  font-size: 2.3rem;
}

nav .nav-list-element a:hover {
  text-shadow: rgba(255, 255, 255, 0.9) 0px 0px 8px;
  margin-left: 15%;
}

nav .nav-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-logout a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-left: 12%;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}

nav .nav-logout a i {
  font-size: 2.3rem;
  margin-right: 5px;
}

nav .nav-logout a:hover {
  text-shadow: rgba(255, 255, 255, 0.9) 0px 0px 8px;
  margin-left: 15%;
}

section {
  width: 80%;
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section header {
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section header .total-orders {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bbdefb;
}

section header .total-orders p {
  margin-left: 15%;
  color: #d316a4;
}

section header .total-orders p,
section header .total-orders span {
  font-size: 4rem;
}

section header .total-income {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b6d6fa;
}

section header .total-income p {
  margin-left: 15%;
  color: #d316a4;
}

section header .total-income p,
section header .total-income span {
  font-size: 4rem;
}

section .form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .form-container .form-wrapper {
  width: 60%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section .form-container .form-wrapper form {
  width: 50%;
}

section .form-container .form-wrapper form .form-field {
  margin-top: 2rem;
  width: 100%;
}

section .form-container .form-wrapper form .form-field label {
  font-size: 1.6rem;
}

section .form-container .form-wrapper form .form-field input {
  width: 100%;
  margin-top: 0.7rem;
  padding: 7px;
  border: 1px solid #1565c0;
  outline-color: red;
}

section .form-container .form-wrapper form .submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section .form-container .form-wrapper form .submit-btn input {
  margin-top: 2rem;
  padding: 10px 20px;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  background-color: #2196f3;
  color: white;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

section .form-container .form-wrapper form .submit-btn input:hover {
  background-color: #1565c0;
}
/*# sourceMappingURL=style.css.map */