@import '../colors';
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 10px;
      font-family: 'Roboto', sans-serif;
  }

  body {
      height: 200vh;
      background-color: $mainColor;
      display: flex;

  }

  nav {

    height: 100%;
    width: 20%;
    background-color: $secondColor;
    position: fixed;
    box-shadow: 10px 0px 15px -10px rgba(0, 0, 0, 0.65);

    .nav-header {
        height: 8%;
        width: 100%;
        background-color: $primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 3rem;
            color: white;
            font-weight: bold;
        }
    }

    .nav-list {
        height: 85%;
    }

    .nav-list-element {
        height: 6%;
        width: 100%;
        margin-top: 5%;
        //   border-bottom: 1px solid black;
        display: flex;
        align-items: center;


        a {
            margin-left: 12%;
            font-size: 2rem;
            cursor: pointer;
            text-decoration: none;
            color: white;
            transition: margin 0.2s;
            display: flex;
            align-items: center;

            i {
                margin-right: 5px;
                font-size: 2.3rem;

            }
        }

        a:hover {
            text-shadow: rgba(255,255,255,0.9) 0px 0px 8px;
            margin-left: 15%;
        }


    }

    .nav-logout {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
            font-size: 2rem;
            margin-left: 12%;
            transition: margin 0.2s;

            i {
                font-size: 2.3rem;
                margin-right: 5px;
            }
        }

        a:hover {
            text-shadow: rgba(255,255,255,0.9) 0px 0px 8px;
            margin-left: 15%;
        }
    }
}

  section {
      width: 80%;
      margin-left: 20%;
      display: flex;
      flex-direction: column;

      header {
          height: 20vh;
          width: 100%;
          display: flex;
          flex-direction: row;



          .total-orders {
              width: 50%;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: $hoverColor;

              p {
                  margin-left: 15%;
                  color: rgb(211, 22, 164);
              }

              p,
              span {
                  font-size: 4rem;
              }
          }


          .total-income {
              width: 50%;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #b6d6fa;

              p {
                  margin-left: 15%;
                  color: rgb(211, 22, 164);
              }

              p,
              span {
                  font-size: 4rem;
              }
          }


      }

      .form-container {
          width: 100%;
        //   min-height: 40%;
          display: flex;
          justify-content: center;
          align-items: center;

          .form-wrapper {
              width: 60%;
              height: 80%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
#total-sum {
    padding: 1rem 1.3rem;
    font-size: 1.3rem;
}
              form {
                  width: 60%;

                  .form-field {
                      margin-top: 2rem;
                      width: 100%;

                      label {
                          font-size: 1.6rem;
                      }

                      input {
                          width: 100%;
                          margin-top: 0.7rem;
                          padding: 7px;
                          border: 1px solid $secondColor;
                          outline-color: red;
                      }
                  }

                  .submit-btn {
                      display: flex;
                      justify-content: flex-end;

                      input {
                          margin-top: 2rem;
                          padding: 10px 20px;
                          font-size: 1.3rem;
                          cursor: pointer;
                          border: none;
                          background-color: $primaryColor;
                          color: white;
                          transition: background-color 0.2s;
                      }

                      input:hover {
                          background-color: $secondColor;
                      }
                  }
              }
          }
      }
  }