@import '../colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 200vh;
    background-color: $mainColor;
    display: flex;

}


nav {

    height: 100%;
    width: 20%;
    background-color: $secondColor;
    position: fixed;
    box-shadow: 10px 0px 15px -10px rgba(0, 0, 0, 0.65);

    .nav-header {
        height: 8%;
        width: 100%;
        background-color: $primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 3rem;
            color: white;
            font-weight: bold;
        }
    }

    .nav-list {
        height: 85%;
    }

    .nav-list-element {
        height: 6%;
        width: 100%;
        margin-top: 5%;
        //   border-bottom: 1px solid black;
        display: flex;
        align-items: center;


        a {
            margin-left: 12%;
            font-size: 2rem;
            cursor: pointer;
            text-decoration: none;
            color: white;
            transition: margin 0.2s;
            display: flex;
            align-items: center;

            i {
                margin-right: 5px;
                font-size: 2.3rem;

            }
        }

        a:hover {
            text-shadow: rgba(255, 255, 255, 0.9) 0px 0px 8px;
            margin-left: 15%;
        }


    }

    .nav-logout {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
            font-size: 2rem;
            margin-left: 12%;
            transition: margin 0.2s;

            i {
                font-size: 2.3rem;
                margin-right: 5px;
            }
        }

        a:hover {
            text-shadow: rgba(255, 255, 255, 0.9) 0px 0px 8px;
            margin-left: 15%;
        }
    }
}

section {
    width: 80%;
    margin-left: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .stats-container {
        width: 80%;
        margin-top: 5rem;
    }
}