* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 200vh;
  background-color: #3D5A80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  height: 100%;
  width: 20%;
  background-color: #293241;
  position: fixed;
  -webkit-box-shadow: 10px 0px 15px -10px rgba(0, 0, 0, 0.65);
          box-shadow: 10px 0px 15px -10px rgba(0, 0, 0, 0.65);
}

nav .nav-header {
  height: 8%;
  width: 100%;
  background-color: #293241;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-header p {
  font-size: 3rem;
  color: #EE6C4D;
  font-weight: bold;
}

nav .nav-list {
  height: 85%;
}

nav .nav-list-element {
  height: 6%;
  width: 100%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-list-element a {
  margin-left: 12%;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: #E0FBFC;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-list-element a i {
  margin-right: 5px;
  font-size: 2.3rem;
}

nav .nav-list-element a:hover {
  text-shadow: rgba(154, 226, 226, 0.7) 0px 0px 8px;
  margin-left: 13%;
}

nav .nav-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-logout a {
  text-decoration: none;
  color: #E0FBFC;
  font-size: 2rem;
  margin-left: 12%;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}

nav .nav-logout a i {
  font-size: 2.3rem;
  margin-right: 5px;
}

nav .nav-logout a:hover {
  text-shadow: rgba(154, 226, 226, 0.7) 0px 0px 8px;
}

section {
  width: 80%;
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .orders-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

section .orders-container .order {
  height: 150px;
  width: 320px;
  margin-left: 5px;
  background: #83a4d4;
  background: -webkit-gradient(linear, left top, right top, from(#b6fbff), to(#83a4d4));
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  margin-top: 2rem;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;
}

section .orders-container .order .order-menu-container {
  height: 22%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .orders-container .order .order-menu-container button {
  background: none;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
}

section .orders-container .order .order-menu-container button i {
  font-size: 2.4rem;
  color: gray;
}

section .orders-container .order .order-menu-container .btn-show {
  margin-left: 2rem;
}

section .orders-container .order .order-menu-container button:hover .fa-trash {
  color: #e25252;
}

section .orders-container .order .order-menu-container .btn-show:hover i {
  color: #0d6dc7;
}

section .orders-container .order .order-basic-style {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

section .orders-container .order .order-basic-style span {
  font-size: 2rem;
}

section .orders-container .order .order-basic-style .model {
  margin-left: 5%;
}

section .cancel-btn-popup {
  width: 40%;
  height: 100px;
  background-color: #98C1D9;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

section .cancel-btn-popup p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  color: white;
}

section .cancel-btn-popup button {
  padding: 1rem 1.8rem;
  font-size: 1.3rem;
  border: none;
  color: white;
  cursor: pointer;
}

section .cancel-btn-popup .cancel-btn-confirm {
  margin-left: 8rem;
  background-color: #e25252;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

section .cancel-btn-popup .cancel-btn-confirm:hover {
  -webkit-box-shadow: 0px 0px 8px 0px #e25252;
          box-shadow: 0px 0px 8px 0px #e25252;
}

section .cancel-btn-popup .cancel-btn-decline {
  background-color: #8f8989;
}

section .cancel-btn-popup .cancel-btn-decline:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #8f8989;
          box-shadow: 0px 0px 6px 0px #8f8989;
}

section .order-popup {
  width: 40%;
  height: 75vh;
  background-color: #98C1D9;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .order-popup .orders-info-container {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .order-popup .orders-info-container .popup-orders-info {
  width: 80%;
  margin-top: 2%;
  background-color: white;
  padding: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

section .order-popup .orders-info-container .popup-orders-info p {
  font-size: 1.4rem;
}

section .order-popup .popup-menu {
  width: 100%;
}

section .order-popup .popup-menu .close-btn {
  position: absolute;
  right: 2%;
  top: 2%;
}

section .order-popup .popup-menu .close-btn .close {
  padding: 7px 10px;
  border-radius: 50%;
  border: none;
  background-color: #EE6C4D;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  color: #E0FBFC;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 10px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 10px 12px;
  -webkit-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}

section .order-popup .popup-menu .close-btn .close:hover {
  padding: 9px 12px;
}

section .pagenumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .pagenumbers button {
  padding: 3px 5px;
  margin-top: 3rem;
  margin-left: 0.5rem;
}

section #loadMore {
  padding: 1.6rem 2.4rem;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #EE6C4D;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

section #loadMore:hover {
  background-color: blueviolet;
}
/*# sourceMappingURL=orders.css.map */